.profile-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.profile-container .empty{
    color: #777;
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.profile-container header{
    display: flex;
    justify-content: space-between;
}

.profile-container header .left-content{
    display: flex;
    align-items: center;
}

.profile-container header .left-content .logo{
    width: 140px;
    height: 50px;
    background-image: url('../../assets/logo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
}

.profile-container header .right-content{
    display: flex;
    align-items: center;
}

.profile-container header .right-content #new{
    padding: 12px;
    border-radius: 5px;
    margin-right: 15px;
    background-color: rgb(201, 3, 3);
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.profile-container header .right-content #new:hover{
    filter: brightness(90%);
}

.profile-container header .right-content #logout{
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
    transition: 0.5s;
}

.profile-container header .right-content #logout:hover{
    border-color: #777;
}

.profile-container .incidents-container{
    margin-top: 45px;
}

.profile-container .incidents-container h2{
    font-weight: normal;
    margin-bottom: 25px;
    text-align: center;
}

.profile-container .incidents-container .cards{
    display: flex;
    flex-wrap: wrap;   
}

.profile-container .incidents-container .cards h3{
    margin: 5px 0;
    font-weight: normal;
    color: rgb(65, 64, 64);
}

.profile-container .incidents-container .cards p{
    color: #777;
    margin-bottom: 8px;
}

.profile-container .incidents-container .cards .card{
    min-width: 350px;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 0 4px #777;
}

.incidents-container .cards .card .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.incidents-container .cards .card .card-header .left-content button{
    border: 0;
    cursor: pointer;
    transition: 0.5s;
}

.incidents-container .cards .card .card-header .left-content button:hover{
    opacity: 0.8;
}


@media screen and (max-width: 768px){
    header .left-content span{
        display: none;
    }

    .profile-container .incidents-container .cards{
        display: block;
    }

    .profile-container .incidents-container .cards .card{
        max-width: 100%;
    }
}