*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body, #root{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}