.register-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.register-container .content{
    max-width: 800px;
    height: 100%;
    max-height: 400px;
    background-color: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-container .content .column-info{
    width: 49%;
}

.register-container .content .column-info .logo{
    width: 150px;
    height: 50px;
    background-image: url('../../assets/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.register-container .content .column-info .info h2{
    font-weight: normal;
    margin-bottom: 15px;
}

.register-container .content .column-info .info p{
    color: #777;
    line-height: 20px;
    margin-bottom: 50px;
}

.register-container .content .column-info .info a{
    color: black;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
}

.register-container .content .column-info .info a svg{
    margin-right: 8px;
}

.register-container .content .column-info .info a:hover{
    text-decoration: underline;
    opacity: 0.6;
}

.register-container .content .register-form{
    width: 49%;
}

.register-container .content .register-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.register-container .content .register-form form input{
    border: 1px solid #ccc;
    height: 40px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.register-container .content .register-form .region-area{
    display: flex;
    justify-content: space-between;
}

.register-container .content .register-form form #city{
    width: 78%;
}

.register-container .content .register-form form #uf{
    width: 20%;
}

.register-container .content .register-form form button{
    height: 40px;
    border: 0;
    background-color: rgb(201, 3, 3);
    border-radius: 5px;
    color:white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}

.register-container .content .register-form form button:hover{
    filter: brightness(90%);
}